[submodule "docker-routing-engine"]
	path = docker-routing-engine
	url = git@github.com:mosteligible/docker-routing-engine.git
[submodule "docker-reverse-geocoding"]
	path = docker-reverse-geocoding
	url = git@github.com:mosteligible/docker-reverse-geocoding.git
