PGRES_USERNAME=
PGRES_USER_PASSWORD=
POSTGRES_DB=
PGRES_USER_TABLE_NAME=
PGRES_ROUTE_TABLE_NAME=
POSTGRES_USER=
POSTGRES_PASSWORD=
PGRES_DB_HOST=database
PGRES_DB_PORT=5432
REVERSE_GEOCODER_ENDPOINT=http://reverse-geocoding:8080
ROUTING_ENGINE_ENDPOINT=http://routing-engine:8989
